/* Form contact us */
.form-contact-us {
    max-width: 720px;
    margin: 0 auto;
}

.form-contact-us .form-input,
.form-catalog .form-input {
    margin-bottom: 20px;
}

.form-input input {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #9f9f9f !important;
    padding: 0;
    color: #9f9f9f;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    background-color: transparent !important;
}

.form-input input::placeholder {
    color: #4D4D4D !important;
}

.label-textarea {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.form-input textarea {
    height: 190px;
    border-radius: 0;
    border-color: #000 !important;
    box-shadow: none !important;
    color: #9f9f9f;
    font-size: 15px;
    font-weight: 400;
}

.dropdown-section {
    margin-bottom: 30px;
}

.dropdown-section select {
    width: 100%;
    background-color: transparent;
    height: 50px;
    border-radius: 0 !important;
    border-bottom: 1px solid #9f9f9f !important;
}

.check-box input {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 0;
    transform: translateY(3px);
    margin-right: 5px;
}

.check-box span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.form-input input:active,
.form-input input:focus,
.form-input input:hover {
    border-bottom-color: var(--primary_color) !important;
    border-width: 1px !important;
    color: var(--primary_color);
}

.btn-form-contact {
    height: 45px;
    line-height: 45px;
    font-weight: 600;
    margin-top: 30px;
}

.form-contact-us-02 {
    background-color: #fff;
    padding: 80px 80px;
}

.form-contact-us-02 .heading {
    font-size: 28px !important;
    font-weight: 300;
}

.form-contact-us-02 .check-box {
    margin-top: 20px;
}

.list-info-form {
    background-color: #333;
    padding: 50px 50px;
}

.list-info-form .heading {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
}

.sub-heading-bottom {
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    position: relative;
    padding-left: 15px;
}

.sub-heading-bottom:before {
    position: absolute;
    content: '';
    left: 0;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: #fff;
}

.list-area-form {
    margin-top: 70px;
    margin-bottom: 0;
}

.list-area-form li {
    margin-bottom: 20px;
}

.list-area-form li:last-child {
    margin-bottom: 0;
}

.list-area-form li a {
    font-size: 18px;
    font-weight: 300;
    color: #fff !important;
}

.list-area-form li a:hover {
    text-decoration: underline;
}

/* Footer footer */
.form-footer .item-input {
    margin-bottom: 15px;
}

.form-footer .check-box span {
    color: #666;
    font-weight: 500;
}

.btn-footer {
    border-radius: 7px;
    margin-top: 20px;
    background-color: #333;
    height: 38px;
    line-height: 35px;
}

.form-footer textarea {
    height: 150px;
}

