/* Style grid */
.section-bgr-grid {
    padding: 80px 0 70px;
}

.wrap-grid-fields {
    /*column-gap: 30px;*/
}

.wrap-item-box {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.wrap-item-box:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    transition: all .3s ease-in-out;
}

.wrap-item-box .heading {
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    color: #fff;
}

.wrap-item-box:hover:before {
    opacity: 0;
}

/* Section Carousel */
.wrap-cr-fields {
    background-color: #f0f0f0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    align-items: end;
}

/* Section grid colleciton */
.btn-item-grid {
    font-weight: 500;
    font-size: 13px;
}

.btn-item-grid i {
    font-size: 12px;
    margin-left: 3px;
}

.wrap-content-collection {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 30px;
}

.wrap-content-collection .btn-item-grid {
    position: absolute;
    bottom: 40px;
    left: 0;
}
