/* header */
#site-header-wrap{
    z-index: 999;
}   

.site-content {
    margin-top: 80px;
}

header {
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.row-header {
    margin: 0;
    padding: 0;
    min-height: 70px;
}

@media (max-width: 1199px) {
    .row-header > div {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* logo */
.logo img {
    max-width: 200px;
}

.header-menu {
    margin-left: 60px;
}

ul.main-menu {
    margin-bottom: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    height: 80px;
    line-height: 80px;
    font-size: 13px;
    font-weight: 700;
    padding: 0px 13px; 
    color: var(--secondary_color);
    text-transform: uppercase;
}

.main-menu li a:hover {
    color: var(--primary_color) !important;
}

.icon-heart i {
    font-size: 25px;
    transform: translateY(2px);
}

/* Style form search */
.form-search {
    position: relative;
    margin-left: 21px;
}

.form-search input {
    border: 1px solid var(--primary_color);
    border-radius: 30px;
    padding: 4px 30px 4px 10px;
    font-size: 14px;
}

.form-search button {
    position: absolute;
    top: 3px; 
    right: 9px;
    background-color: transparent;
}

.form-search button i {
    font-size: 15px;
}

.form-search-respon {
    display: none;
}

/* Style nav menu sidebar */
.header-layout .container-default { 
    position: relative;
}

.menu-sidebar {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-left: 10px;
    display: none;
}

#menu-sidebar .btn-nav-icon span,
#menu-sidebar .btn-nav-icon:before,
#menu-sidebar .btn-nav-icon:after {
    content: "";
    background-color: #333;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 22px;
}

#menu-sidebar .btn-nav-icon:before {
    top: 0px;
}

#menu-sidebar .btn-nav-icon span {
    top: 6px;
}

#menu-sidebar .btn-nav-icon:after {
    top: 12px;
}

#menu-sidebar .btn-nav-icon {
    display: inline-block;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    cursor: pointer;
    position: relative;
}

.logo-menu-dropdown {
    transform: translateY(-5px);
    display: none;
}

.nav-close {
    position: absolute;
    top: 13px;
    right: 15px;
    color: #fff;
    transform: rotate(45deg);
    font-size: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav-close i {
    font-weight: 500;
    transform: translate(7px, -7px);
}

@media (max-width: 1199px) {
    .logo-menu-dropdown {
        display: block;
    }

    .main-menu {
        margin-top: 50px;
    }

    .main-menu li a {
        height: 0;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.5;
    }

    #site-header-wrap #menu-sidebar {
        display: block;
    }

    .form-search {
        display: none;
    }

    .site-navigation {
        border-top: 1px solid rgba(0,0,0,8%);
        background-color: #333;
        position: absolute;
        z-index: 1001;
        padding: 28px 35px 25px;
        top: 0;
        width: 100%;
        right: -100%;
        visibility: hidden;
        z-index: -1;
        height: 100vh;
        overflow-y: scroll;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
    
    .site-navigation.navigation-open {
        visibility: visible;
        z-index: 999;
        width: 100%;
        right: 0;
        transform: translateY(0);
    }

    .site-navigation .main-menu li {
        display: block;
        margin-bottom: 20px;
    }   
    .site-navigation .main-menu li a {
        padding-left: 0;
        color: #fff;
    }   

    .form-search-respon {
        position: relative;
        margin-top: 60px;
        display: block;
    }

    .form-search-respon input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #fff !important;
        border-radius: 50px;
        height: 45px;
        line-height: 45px;
        padding: 5px 20px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }

    .form-search-respon button {
        position: absolute;
        top: 13px;
        right: 15px;
        background-color: transparent;
    }

    .form-search-respon button i {
        font-size: 17px;
        color: #fff;
    }

    .form-search-respon input:active,
    .form-search-respon input:focus,
    .form-search-respon input:hover {
        border-color: #fff !important;
    }
}