
@media (max-width: 1300px) {
	.fs-custom-01 {
		font-size: 22px;
	}
}

@media (max-width: 1199px) {
	.site-content {
		margin-top: 70px;
	}

	.none-mobile {
	    display: none;
	}

	.owl-carousel-section .wrap-image {
		margin-bottom: 0;
	}

	.section-bgr.style-02 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.section-bgr-01 .row,
	.section-bgr-02 .row {
		padding: 0;
	}

	.icon-heart {
		display: none;
	}
	
	.menu-collection {
		height: 60px;
		line-height: 60px;
		display: block;
		z-index: 100;
		position: relative;
		background-color: #333;
	}

	.row-header-above {
		background-color: #333;
	}

	.menu-collection .btn-nav-icon {
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		display: inline-block;
		border-left: 1px solid #6d6d6d;
		border-right: 1px solid #6d6d6d;
		padding: 0 30px;
		position: relative;
		background-color: #333;
	}

	.menu-collection .btn-nav-icon:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 59px;
		top: 0;
		left: 0;
		background-color: #333;
		z-index: -1;
	}

	.menu-collection .btn-nav-icon i { 
		margin-right: 8px;
		font-size: 16px;
	}

	.menu-collection-res {
		margin-top: 0px;
		border-top: 1px solid #6d6d6d;
		position: relative;
		background-color: #333;
    	display: none;
		transition: opacity .2s ease;  
	}

	.menu-collection-res li {
		text-align: center;
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #6d6d6d;
		width: 100%;
	}

	.menu-collection-res li a {
		border-left: none !important; 
		border-right: none !important; 
	}

	.menu-above.active .menu-collection-res {
		display: block;
	}

	.menu-above.active .menu-collection .btn-nav-icon:after {
		height: 62px;
	}

	.list-info-form {
	    padding: 50px 30px;
	}

	.form-contact-us-02 {
	    padding: 70px 30px 80px;
	}

	.mt-lg-50 {
		margin-top: 50px;
	}

	.main-slide-update {
		min-height: 500px;
	}

	.content-slide-column {
		left: 15px;
		right: 15px;
	}
}

@media (max-width: 991px) {
	.space-section {
		margin-top: 80px;
	}

	.heading {
		font-size: 24px;
	}

	.row.wrap-cr-fields {
		padding-top: 30px;
		padding-bottom: 0px;
	}

	.wrap-cr-fields .item {
		margin-bottom: 30px;
	}

	.heading-style .hd-style {
	    font-size: 25px;
	    line-height: 1.5;
	}

	.heading-style {
	    margin: 80px auto 80px;
	}

	.mt-lg-50 {
		margin-top: 50px;
	}

	.heading-3 {
		font-size: 40px;
	}
}

@media (max-width: 767px) {
	.mt-sm-50 {
		margin-top: 50px;
	}

	.heading.size-02 {
		font-size: 28px;
	}

	.text-left-sm {
		text-align: left !important;
	}

	.site-content {
		padding: 0 0 80px;
	}

	.space-section {
		margin-top: 70px;
	}

	.heading {
		font-size: 26px;
	}

	.column-content {
		margin-top: 35px;
	}

	.content-center {
		text-align: center;
	}

	.respon-order-2 {
		order: 2;
	}

	.section-bgr-01 {
		padding: 80px 0 50px;
	}

	.section-bgr-01 .row {
		padding: 0 0 0 0px;
		background-color: transparent;
	}

	.section-bgr-04 .row {
		padding: 0 0 0 0px;
	}

	.section-bgr-01 .column-img-bgr img {
		transform: translateX(0) !important;
	}

	.section-bgr-01 .column-content-bgr {
		padding: 30px 0 40px;
	}

	.img-desktop {
		display: none;
	}
	
	.img-mobile {
		display: block;
	}

	.list-info-form {
	    padding: 50px 20px;
	}

	.form-contact-us-02 {
	    padding: 60px 20px 70px;
	}

	.list-info-form .heading {
	    font-size: 24px;
	    margin-bottom: 10px;
	}

	.list-area-form {
	    margin-top: 40px;
	}

	.footer-item-02, .footer-item-03 {
		margin-top: 60px;
	}

	.img-column-figured {
		margin: 50px auto 0;
		max-width: 500px;
	}

	.row-custom {
		justify-content: space-evenly;
	}

	.mt-30-sm {
	    margin-top: 30px;
	}
}

@media (max-width: 575px) {
	.wrap-item-cr {
		text-align: center;
	}

	.form-subscribe input {
		margin-right: 0px;
	}

	.form-subscribe button {
		width: 360px;
		margin-top: 20px;
	}

	.description-form {
		margin-top: 20px !important;
	}

	.heading-footer i {
		display: block;
	}

	.footer-column {
		margin-bottom: 20px;
	}

	.footer-column .nav-content-list {
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: .3s all;
	}

	.footer-column.active .nav-content-list {
		overflow: visible;
		opacity: 1;
		margin-bottom: 10px;
	}

	.description-form {
		margin-top: 20px !important;
	}

	.footer-item-03 {
		margin-top: 30px;
	}
}




